<!-- About Us -->
<!-- <div id="about">
    <div class="container">
      <h1 class="section-heading">About Us</h1>
      <p>STARK TOURISM is one of the units of STARK INDUSTRIES owned by <b>Tony Stark</b>. STARK TOURISM provides cheap holiday packages for the people. We have been in the tourism business for over ten(10) years focusing on providing a safe, sanitized and comfortable holiday packages for people at cheap and affordable rates.</p>
    </div>
  </div> -->

  <div class="container">
  <div class="media">
    <div>
    <img src="../../assets/img/rdj.jpeg" class="align-self-start mr-3" alt="...">
  </div>
    <div class="media-body">
      <h2>Tony Stark<h5>(Founder & CEO)</h5></h2>
      <p>An Indian business magnate, genius, billionaire, playboy and philanthropist who has created a revolution in science and technology by inventing fully stabilized 'Miniature Arc reactor', fully functional 'Ironman suit' and many more.</p>
      <p><i>" You can work hard, but if you dont work smart you'll work for the rest of your life. "</i> - <b>Tony Stark</b></p>
    </div>
  </div>
</div>