<!-- Contact Us -->
<div id="contact">
    <div class="container">
      <h1 class="section-heading">Contact Us</h1>
      <div class="row">
        <div class="col-md-6">
          <h3>Call Now</h3>
          <p>(+91)-9620178740</p>
          <p>(+91)-9986057970</p>
        </div>
        <div class="col-md-6">
          <h3>Address</h3>
          <p>10880, Malibu Point</p>
          <p>Bengaluru</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Embedding Google Map -->
  <div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26451.976927434804!2d-118.69981710314474!3d34.031117159130396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e81e2fa5e89ae7%3A0x6649e0a3a35d1cc1!2sMalibu%20Point!5e0!3m2!1sen!2sin!4v1601276249487!5m2!1sen!2sin"></iframe>
  </div>